<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<style>
    *{
        font-family: 'Open Sans', sans-serif;
    }
</style>

<body>
    <div style="text-align: center;">
        <img src="https://avatars.githubusercontent.com/u/89645436?s=200&v=4" alt="">
        <h1 style="font-weight: bold;">Deepgenx Confirmation !</h1>
        <p>
            Hi, to confirm your email, please click the button below.
        </p>
        <a href="{url}" style="padding: 10px; background-color: #00bcd4; color: #fff; border-radius: 5px; text-decoration: none;">Confirm Email</a>
    </div>
</body>

</html>