<body>
    <div style="text-align: center;">
        <img src="https://avatars.githubusercontent.com/u/89645436?s=200&v=4" alt="">
        <div style="max-width: 500px;width:500px;padding: 20px;margin: 20px 0;border: 1px solid #eee;border-left-width: 5px;border-radius: 3px; margin: auto;border-left-color: #428bca;">
            <h4 style="font-weight: bold;color: #428bca;margin-top: 0;margin-bottom: 5px;">{title}</h4>
            <p style="color:black">
                {body}
            </p>
        </div>
        <p style="color:black">All rights reserved <b>DeepGenX</b> (2021-2022)</p>
        <div style="text-align: center;">
            <a href="https://github.com/DeepGenX/API" target="_blank" style="text-decoration: none;">
                <img src="https://i.ibb.co/dcSQqrq/download.png"/>
            </a>
            <a href="https://hub.docker.com/u/thomasrocket" target="_blank" style="text-decoration: none;">
                <img src="https://i.ibb.co/Lpbz5Y7/download.png"/>
            </a>
            <a href="https://www.deepgenx.com/" target="_blank" style="text-decoration: none;">
                <img src="https://i.ibb.co/9Wt1xpQ/download.png"/>
            </a>
        </div>
    </div>
</body>